(slightly) {
    root ./public
    file_server

    @naked_path {
        path_regexp (^|/)[^./]+$
        file {
            try_files {path}.md
        }
    }

    @md_path {
        path_regexp \.md$
        file {
            try_files {path} /404.md
        }
    }

    rewrite @naked_path /
    rewrite @md_path {http.matchers.file.relative}

    header /dist/* Access-Control-Allow-Origin *
    route {
        header /dist/* Cache-Control "public,max-age=2592000,immutable"
        header /dist/version Cache-Control "public,max-age=3600"
    }

    file_server /dist/* browse

    handle_errors {
        rewrite @md_path {http.matchers.file.relative}
        rewrite * /
        file_server
    }
}

slightly.l.erayd.net {
    tls internal

    import slightly
}
